.home {
  .search-bar {
    position: fixed;
    z-index: 9998;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 16px;
    max-width: calc(100% - 40px);

    @media screen and (max-width: 991px) {
      top: 70px;
      flex-direction: column;
      gap: 8px;
      width: 100%;
    }

    .search {
      width: 300px;

      @media screen and (max-width: 767px) {
        width: 100%;
      }
    }
  }

  .create-step {
    position: fixed;
    left: 50%;
    bottom: 50px;
    transform: translateX(-50%);

    @media screen and (max-width: 767px) {
      bottom: 20px;
    }
  }

  .step-form {
    position: fixed;
    z-index: 9998;
    top: 50%;
    left: 20px;
    transform: translate(0, -50%);
    animation: slideToRight 0.2s forwards;

    @media screen and (max-width: 767px) {
      top: 0;
      left: 0;
      bottom: 0;
      transform: none;
      animation: none;
    }

    @keyframes slideToRight {
      0% {
        transform: translate(calc(-100% - 20px), -50%);
      }
      100% {
        transform: translate(0, -50%);
      }
    }
  }
}
