.navbar {
  position: fixed;
  z-index: 9998;
  top: 20px;
  left: 20px;
  right: 20px;

  nav {
    display: flex;
    justify-content: space-between;
  }

  &__authentification {
    position: fixed;
    right: 20px;
    display: flex;
    gap: 8px;
  }
}
