@use "../partials/functions";
@use "../partials/mixins";

.form-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  border-radius: var(--border-radius-xl);
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  background: var(--background);
  box-shadow: var(--shadow);

  &--medium {
    padding: 36px 24px;

    .form-container {
      &__title {
        text-align: center;
      }
    }
  }

  &--medium {
    .button {
      margin-top: 6px;
      width: 100%;
    }
  }

  &--large {
    padding: 18px;
  }

  &__title {
    font-size: functions.rem(20);
    line-height: 1;
    font-weight: 700;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
  }

  a {
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  .profile-picture-input {
    margin-bottom: 4px;
  }

  &__row {
    display: flex;
    gap: 12px;

    > div {
      width: calc(50% - 6px);
    }
  }

  &__bottom {
    p {
      @include mixins.font-type('text-medium');
      margin-top: 6px;
    }
  }
}
