.loader {
  width: 50px;
  height: 50px;
  display: inline-block;
  overflow: hidden;
  background: transparent;

  &__inner {
    width: 100%;
    height: 100%;
    position: relative;
    backface-visibility: hidden;
    transform-origin: 0 0;
    transform: translateZ(0) scale(0.5);

    div {
      position: absolute;
      animation: infiniteRotation 1s linear infinite;
      width: 80px;
      height: 80px;
      top: 10px;
      left: 10px;
      border-radius: 50%;
      box-shadow: 0 2px 0 0 var(--color);
      transform-origin: 40px 41px;

      @keyframes infiniteRotation {
        0% { transform: rotate(0deg) }
        50% { transform: rotate(180deg) }
        100% { transform: rotate(360deg) }
      }
    }
  }
}
