.map {
  width: 100%;
  height: 100svh;

  .mapboxgl-popup {
    width: 350px;
  }

  .mapboxgl-popup-content {
    padding: 0;
    background: none;
  }

  .mapboxgl-popup-tip {
    display: none;
  }
}
