@use "../../partials/functions";
@use "../../partials/mixins";

.button {
  display: flex;
  padding: 11px 14px;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
  color: var(--white);
  border-radius: var(--border-radius-xs);
  @include mixins.font-type('text-medium');

  &--primary {
    @include mixins.resetButton(none, var(--primary));

    &:hover,
    &:active {
      background: var(--primary-hover);
    }
  }

  &--default {
    @include mixins.resetButton(none, var(--background));
    box-shadow: var(--shadow);
    color: var(--color);

    &:hover,
    &:active {
      background: var(--background-hover);
    }
  }

  &--icon-only {
    width: functions.rem(50);
    height: functions.rem(50);
    border-radius: 50%;
  }
}
