@use "../../partials/functions";
@use "../../partials/mixins";

.combobox {
  &__container {
    position: relative;
  }

  &__label {
    display: flex;
    width: fit-content;
    @include mixins.font-type('text-medium');
    margin-bottom: functions.rem(6);
  }

  &__entries {
    position: relative;
    display: flex;
    width: 100%;
    box-shadow: var(--shadow);
    border-radius: var(--border-radius-s);
    overflow: hidden;

    &:has(.combobox__input:focus) {
      outline: 2px solid var(--primary);
    }

    &--open {
      border-radius: var(--border-radius-s) var(--border-radius-s) 0 0 !important;
    }
  }

  &__input {
    @include mixins.font-type('text-medium');
    background: var(--background);
    padding: functions.rem(9) functions.rem(12);
    border: none;
    flex: 1;

    &::placeholder {
      color: var(--color-secondary);
    }

    &:focus {
      outline: none;
    }
  }

  &:has(.combobox__input[data-invalid="true"]) {
    .combobox__entries {
      border: 1px solid var(--danger);
    }
  }

  &__error {
    @include mixins.font-type('text-medium');
    color: var(--danger);
    margin-top: functions.rem(4);
  }

  &__chips {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: functions.rem(6.2) 0 functions.rem(6.2) functions.rem(8);
  }

  &__list {
    display: none;
    position: absolute;
    z-index: 2;
    left: 0;
    bottom: 0;
    transform: translateY(100%);
    width: 100%;
    max-height: calc(5 * functions.rem(36));
    box-shadow: var(--shadow);
    border-radius: 0 0 var(--border-radius-s) var(--border-radius-s);
    overflow-y: auto;

    &--open {
      display: block;
    }
  }

  &__option {
    display: flex;
    align-items: center;
    background: var(--background);
    cursor: pointer;
    padding: functions.rem(9) functions.rem(12);
    @include mixins.font-type('text-medium');
    height: functions.rem(36);

    &:hover,
    &:focus {
      color: var(--white);
      background: var(--primary);
    }

    &--selected {
      background: var(--surface);
    }
  }
}
