@use "../../partials/functions";
@use "../../partials/mixins";

.input-string {
  display: flex;
  flex-direction: column;

  &__label {
    display: flex;
    width: fit-content;
    @include mixins.font-type('text-medium');
    margin-bottom: functions.rem(6);
  }

  &__input {
    @include mixins.font-type('text-medium');
    background: var(--background);
    padding: functions.rem(9) functions.rem(12);
    border: none;
    border-radius: var(--border-radius-s);
    box-shadow: var(--shadow);

    &::placeholder {
      color: var(--color-secondary);
    }

    &[data-invalid="true"] {
      border: 1px solid var(--danger);
    }

    &:autofill {
      background: var(--background);
    }
  }

  &__error {
    @include mixins.font-type('text-medium');
    color: var(--danger);
    margin-top: functions.rem(4);
  }

  a {
    @include mixins.font-type('text-small');
    display: flex;
    width: fit-content;
    margin-top: functions.rem(6);
  }
}
