@use "../../partials/functions";
@use "../../partials/mixins";

.textarea {
  display: flex;
  flex-direction: column;

  &__label {
    display: flex;
    width: fit-content;
    @include mixins.font-type('text-medium');
    margin-bottom: functions.rem(6);
  }

  textarea {
    @include mixins.font-type('text-medium');
    background: var(--input);
    padding: functions.rem(9) functions.rem(12);
    border: none;
    border-radius: var(--border-radius-s);
    box-shadow: var(--shadow);
    min-height: 100px;

    &::placeholder {
      color: var(--color-secondary);
    }

    &[data-invalid="true"] {
      border: 1px solid var(--danger);
    }
  }
}
