@use "functions";

@mixin resetButton($border, $background) {
  cursor: pointer;
  background: $background;
  border: $border;
}

@mixin font-type($type) {
  @if($type == 'text-small') {
    font-size: functions.rem(12);
    font-weight: 400;
  } @if($type == 'text-medium') {
    font-size: functions.rem(14);
    font-weight: 400;
    line-height: 1;
  } @if($type == 'text-big') {
    font-size: functions.rem(16);
    font-weight: 700;
  }
}
