@use "fonts";
@use "functions";

$light-theme: (
  // Colors
  'color': hsla(0, 79%, 2%, 1),
  'color-secondary': hsla(0, 0%, 60%, 1),
  'background': hsla(0, 79%, 98%, 1),
  'background-hover': hsla(0, 80%, 94%, 1),
  'surface': hsla(0, 79%, 94%, 1),

  // Shadows
  'shadow': 0 0 2px 0 rgba(0, 0, 0, 0.50)
);

$dark-theme: (
  // Colors
  'color': hsla(0, 79%, 98%, 1),
  'color-secondary': hsla(0, 0%, 74%, 1),
  'background': hsla(0, 0%, 15%, 1),
  'background-hover': hsla(0, 0%, 28%, 1),
  'surface': hsla(0, 0%, 20%, 1),

  // Shadows
  'shadow': 0 0 2px 0 rgba(255, 255, 255, 1)
);

$global: (
  // Colors
  'danger': hsla(0, 98%, 50%, 1),
  'primary': hsla(0, 79%, 63%, 1),
  'primary-hover': hsla(0, 79%, 73%, 1),
  'primary-transparent': hsla(0, 79%, 63%, 0.2),
  'white': hsla(0, 79%, 98%, 1),

  // Border-radius
  'border-radius-xl': 14px,
  'border-radius-s': 8px,
  'border-radius-xs': 4px,

  // Vue Datepicker
  'dp-font-family': fonts.$alexandria !important,
  'dp-font-size': functions.rem(14) !important,
  'dp-input-icon-padding': functions.rem(30) !important,
  'dp-input-padding': functions.rem(9) functions.rem(30) functions.rem(9) functions.rem(12) !important,
);

:root {
  @media (prefers-color-scheme: light) {
    @each $name, $value in $light-theme {
      --#{$name}: #{$value};
    }
  }

  @media (prefers-color-scheme: dark) {
    @each $name, $value in $dark-theme {
      --#{$name}: #{$value};
    }
  }

  @each $name, $value in $global {
    --#{$name}: #{$value};
  }
}
